:root {
    --text-align: center;
    --size:20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, Arial, sans-serif;
    color: #b54a74;
    background-color: #fff0fb;
}

/* start of header and nav css */
header {
    padding: 20px 35px;
    background-image: url(../images/pink-324175_640.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #b54a74;
}

header a:hover {
    color: #1ecbe1;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
}

#Me {
    text-align: center;
    font-size: 25px;
}

.myself {
    display: flex;
    align-items: top;
    font-size: var(--size);
}

#projects {
    text-align: var(--text-align);
    font-size: 35px;
}

.projectss .jota, .runbuddy, .classP {
    display: inline-flex;
    padding: var(--size);
}

.jireh {
    display:flex;
    justify-content: center;
    padding: var(--size);
}

.jireh:hover,.jota:hover,.runbuddy:hover {
    transform: scale(1.1);
}

.contact h2 {
    text-align: var(--text-align);
    padding: var(--size);
    font-size: 35px;
}

.contact p, ul, li {
    text-align: var(--text-align);
}

footer {
    text-align: var(--text-align);
    padding: var(--size);
}

@media screen and (max-width: 768px) {
    main, 
    nav {
        flex-direction: column;
    }
}